:root{
    /*COLORS*/
    --main-color: #20c997;
    --heading-color: #252b33;
    --color-gray: #4c4d4d;
    --color-gray-2: #dee3e4;
    /* Fontweight */
    --transition: all .5s ease;
    scroll-behavior: auto;
}

body{
    font-family: "Poppins", sans-serif;
    color: var(--color-gray);
    overflow: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration:none
}
button{
    cursor: pointer
}
h1, h2, h3, h4{
    color: var(--heading-color);
    font-weight: 600
}
h2{
    font-size:28px
}
p{
    line-height: 1.8;
}
.section-title{
    position: relative;
    text-align: center;
}
.section-title h2{
    position: relative;
    font-size: calc(1.95rem + 8.4vw);
    color: var( --color-gray-2);
    opacity: .9;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 0;
}
.section-title div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.section-title p{
    font-size: 2.25rem;
    font-weight: 600;
    color: #212529;
    line-height: .8;
}
.section-title span{
    width: 80px;
    border: 1px solid var(--main-color);
    display: inline-block;
}
@media screen and (max-width: 767px){
    .section-title{
        font-size: 25px;
    }
}
.main-btn{
    background-color: var(--main-color);
    box-shadow: 0px 5px 15px rgb(0 0 0 / 15%);
    border: 2px solid var(--main-color);
    border-radius: 50rem;
    padding: 13px 41px;
    color: #fff;
    transition: all .5s ease;
    font-weight: 500;
}
.main-btn:hover{
    background-color: #1b8162;
    border-color: #1b8162
}
.main-color{
    color: var(--main-color)
}
.custome-background{
    background-color: var(--main-color);
}
.activeLink{
    color:var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
/*LOADING*/
#loading{
    z-index: 10000000000;
    display: flex;
}
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
/*NAVBAR SECTION*/
.navbar{
    transition: all .5s
}
.navbar a{
    transition: var(--transition);   
}
.navbar-dark .nav-link{
    color: #fff !important;
}
.navbar-light .nav-link{
    color: var(--heading-color) !important;
}
.navbar a:hover, .nav-link.active{
    color: var(--main-color) !important
}
.nav-link{
    padding: 0 15px !important;
    font-weight: var(--fw-600);
    letter-spacing: .5px;
}
.nav-icons{
    margin-left: 40px;
}
.nav-icons a{
    color: #fff;
    padding: 0 10px;
}
/*Navbar Mediaquery*/
@media screen and (max-width: 991px) {
    .navbar a{
        padding-top: 1%  !important;
        padding-bottom: 1%  !important;
        color: #282828;
    }
    .navbar-dark .nav-link{
        color: var(--heading-color) !important;
    }
    .nav-link.active{
        color: var(--main-color) !important
    }
    .in{
        background-color: #f3f3f3;
        position: absolute;
        top: 100%;
        width: 100%;
        left:0;
    }
}
 
/*HOME SECTION */
.home{
    background-image: url(../images/intro-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.home::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 0;
}
.home-content{
    z-index: 1;
}
.home-content h1{
    font-size: calc(1.525rem + 3.1vw) !important;
}
.home-content p{
    line-height: 1.86em;
    margin-bottom: 40px;
}
.home-content .main-btn{
    box-shadow: none;
    background-color: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}
.home-content .main-btn:hover{
    background-color: var(--main-color);
    color: #fff;
}

/*ABOUT SECTION*/
.person-data ul li span{
    font-weight: var(--fw-600);
}
.person-data ul li a{
    transition: .5s color ease
}
.person-data ul li a:hover{
    color: #1b8162
}
/*HOME MEDIA QUERY*/


/*States Section*/
.state{
    border-right: #e0dede 1px dotted;
    padding: 20px 12px
}
.states .flex-box div:last-child{
    border: none   
}
.state h4{
    color: #6c757d;
}

@media screen and (max-width: 767px) {
    .state:nth-child(1), .state:nth-child(2) {
        border-bottom: 1px dotted #e0dede;
    }
    .state:nth-child(2){
        border-right: none
    }
}

/*Services*/


.service-icon{
    height: 70px;
    width:70px;
}
.service-content{
    width: calc(100% - 90px);
}
.service-content h3{
    font-weight: var(--fw-500);
}



/*RESUME SECTION*/

.e-box{
    border: 1px solid #dee2e6;
    border-radius: 3px;
}
.e-box p:nth-child(1){
   display: inline-block;
   color: #fff;
   margin-bottom: 16px;
   padding: 5px 10px;
   border-radius: 3px;
}
.e-box h3{
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 8px;
}
.e-box p:nth-child(3n){
    color: #dc3545;
    margin-bottom: 16px;
}  
/*Skills Section*/
.skill-box p{
    color: #212529;
    margin-bottom: 8px;
    font-weight: 500
}
.progress-back{
    height: 8px;
    background-color: #e9ecef;
    border-radius: 5px;
}
.progress-front{
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
/*PROTOFOLIO SECTION*/
.protofolio{
    overflow: hidden;
}
.protofolio ul li{
    cursor: pointer;
    transition: var(--transition);
}
.protofolio ul li:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.projects-area{
  height: 1000px;
}
.projects-area .flex-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    height: 100%;
}
.project-box{
    position: relative; 
    width: 100%;
    overflow:hidden;
    cursor: pointer;
} 
.project-box img{
    width: 100%;
    transition: .7s transform;
}
.img-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .7);
    opacity: 0;
    transition: .5s opacity;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: #fff
}
.img-cover h3{
    color: #fff;
    margin-bottom: 12px;
    font-weight: 500;
}
.img-cover p{
    font-weight: 400;
    font-size:18px
}
.project-box:hover .img-cover{
    opacity: 1;
}
.project-box:hover img{
    transform: scale(1.05);
}
.img-cover img{
    width: 50px !important;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
/*Fixed Box*/
#fixed-box{
    left: 0;
    top: 0;
    z-index: 100000;
    background-color: rgba(0,0,0, .5);
}
#btn-left, #btn-right, #btn-close{
    cursor: pointer;
}
#btn-left{
    left: 10px;
}
#btn-right{
    right: 10px;
}
#btn-close{
    top: 20px;
    right: 10px;
}
#fixedContent img{
    display:none;
}
/* CLients Section */
.client{
    padding: 72px 0;
}
.slide-parent{
    padding: 20px 12px;
}
.slide-content{
    background-color: var(--color-gray-2);
    padding: 48px
}
.slide-content .slide-top{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.avatar{
    margin-right: 10px;
}
.avatar img{
    width:72px;
    height: 72px;
    border-radius:50%
}
.slide-top h4{
    color: #212529;
    margin-bottom: 2px
}
.slide-top p{
    color: #6c757d
}

.slide-bottom p{
    color: #212529;
    line-height:1.8;
    margin-bottom: 24px;
}
.rating img{
    width: 15px;
    margin-right: 2px;
}

.custome-active{
    border:1px solid var(--main-color);
}
.custome-active span{
    background-color: var(--main-color) !important
}
.slide-control .parent:hover{
    border: 1px solid var(--main-color);
}
.slide-control .parent:hover span{
    background-color: var(--main-color)
}
.carousel-indicators {
    bottom: -60px;
}
.owl-dots{
    text-align: center;
    margin-top:20px
}
.owl-carousel button.owl-dot span{
    display: inline-block;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: #a4a4a4;
    opacity: 1;
    transition: var(--transition);
}
.owl-carousel button.active span{
    width: 25px;
    background-color: var(--main-color);
    border-radius: 43%;
}
/* contact section */
.contact{
    padding: 72px 0;
    background-color: #f8f9fa;
}
.contact .flex-box{
    align-items: flex-start
}
.contact .flex-box h2{
    font-size: 21px;
    font-weight: 500
}
.informations{
    width: 33.33%;
    margin-top: 48px;
}
.informations h2:nth-child(1){
    margin-bottom: 16px
}
.informations p:first-of-type{
    margin-bottom: 24px !important
}
.informations p{
    margin-bottom: 4px;
}
.informations p img{
    width: 16px;
    margin-right: 5px;
}
.informations h2:last-of-type{
    margin-top: 24px
}
.form-contact{
    width: calc(100% - 33.33%);
    margin-top: 48px;
    padding: 0 12px
}
.form-contact h2{
    padding: 0 12px
}
.input-control-in, .input-control-tx{
    margin-top: 24px;
    width: 100%;
    padding: 0 12px;
}
.input-control-in input, .input-control-tx textarea{ 
    display: block;
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #dae1e3;
    border-radius: 3px;
    outline: none;
}
::placeholder{
    color: #c1c7c9;
    font-weight: 400;
    font-size: 16px;
}
.input-control-in input:focus, .input-control-tx textarea:focus{
    outline: 1px var(--main-color) solid ;
}
.form-btn{
    width: 100%;
    margin-top: 24px;
    text-align: center;
}
/*Contact Media Query*/
@media screen and (max-width: 767px){
    .contact{
        text-align: center
    }
    .contact .flex-box{
        flex-direction: column-reverse;
    }
    .informations{
        width: 100%;
    }
    .form-contact{
        width: 100%;
    }
}
@media screen and (min-width: 1200px) {
    .form-contact form{
        display:flex;
        flex-wrap: wrap;
    }
    .input-control-in {
        width: 50%;
    }
}
/* footer section */
.footer {
    padding: 72px 0
}
.footer p a{
    color: var(--main-color);
    transition: .5s color ease
}
.footer p a:hover{
    color: #1b8162;
}
.terms a{
    color: #4c4d4d;
    transition: .5s color ease
}
.terms a:hover{
    color: var(--main-color)
}
/* Footer section Media Query  */
@media screen and (max-width: 992px){
    .footer .flex-box{
        flex-direction: column;
    }
    .footer p{
        margin-bottom: 16px;
    }
}
/*Colors selctor*/
/* Color Options */
.color-box{
    top: 30%;  
    z-index: 100000000;
    width: 250px;
}
.showBox{
    left: 0
}
.color-box .color-box-icon{
    height: fit-content;
    background: #555;
    color: #e2e2e2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    top: 0;
    left: 250px;
}
.color-box .color-box-icon i{
    padding: 10px;
    font-size: 1.3rem
}
.color-options{
    background-color: #fff;
}
.color-options li{
    width: 40px;
    height: 40px;
    
}
.color-options li div{
    height: 100%;
    border-radius: 50%;
   
    cursor: pointer;
}
.color-options li:nth-child(1) div{
    background-color: #28a745
}
.color-options li:nth-child(2) div{
    background-color: #6610f2;
}
.color-options li:nth-child(3) div{
    background-color: #007bff
}
.color-options li:nth-child(4) div{
    background-color: #6f42c1;
}
.color-options li:nth-child(5) div{
    background-color: #17a2b8;
}
.color-options li:nth-child(6) div{
    background-color: #dc3545;
}
.color-options li:nth-child(7) div{
    background-color: #e83e8c;
}
.color-options li:nth-child(8) div{
    background-color: #ffc107;
}
.color-options li:nth-child(9) div{
    background-color: #fd7e14;
}
.color-options li:nth-child(10) div{
    background-color: #795548;
}
.color-box button{
    background-color:var(--main-color);
    color: #fff;
    border: none;
    padding: 8px 16px;
    width: 100%;
}

/*Pointer Animations*/

.pointer{
    position: absolute;
    width: 20px;
    height: 70px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 10;
}
.pointer i{
    position: absolute;
    top: 1px;
    transform: translateX(-50%);
    left: 50%;
    animation-name: moveTobottom; 
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
@keyframes moveTobottom {
    0%{
        top: 0px;
    }
    75%{
        top: 30px;
    }
    100%{
        top: 30px;
    }
}


/* BTN UP*/
#btn-up{
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    z-index: 100000;
}